/* iPhone 11 Pro / X - 2 */
body {
  background: #109dff;
  margin: 0;
  padding: 0;
  border: 0;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 375px;
  height: 700px;
  background: linear-gradient(
    167.27deg,
    #f7f8fb -5.94%,
    rgba(247, 248, 251, 0.19) 103.62%
  );
  backdrop-filter: blur(51px);
  border-radius: 24px;
  margin: auto;
}

.calc-button {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 6px 4px;
  gap: 10px;
  width: 62px;
  height: 60px;
  background: linear-gradient(
    129.7deg,
    rgba(255, 255, 255, 0.6) -9.69%,
    rgba(255, 255, 255, 0.4) 114.23%
  );
  backdrop-filter: blur(6px);
  border-radius: 16px;
}

/* Frame 11 

box-sizing: border-box;

/* Auto layout 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 6px 4px;
gap: 10px;

position: absolute;
width: 62px;
height: 60px;
left: 116px;
top: 470px;

background: linear-gradient(129.7deg, rgba(255, 255, 255, 0.6) -9.69%, rgba(255, 255, 255, 0.4) 114.23%);
backdrop-filter: blur(6px);
/* Note: backdrop-filter has minimal browser support 
border-radius: 16px;
*/